---
import Header from "../../components/Header.astro"
import Layout from "../../layouts/Layout.astro"
	// astro routing
	export async function getStaticPaths() {
    const res = await fetch("https://fakestoreapi.in/api/products");
	const data = await res.json()
    return data.products.map((item: {id: number})  => ({
        params: { id:  item.id}
    }));
}
---

<Layout>
	<Header/>
	<div class="container">

	</div>
</Layout>

<script is:inline>
	const getCookie = async()=>{
		const res = await fetch(`http://localhost:3000/auth`,{
			method: "GET",
			credentials: "include"
		})
		genArticles(res.ok)
	}
			// get products from api source
	const getProducts = async()=>{
		const id = Number(window.location.pathname.split("")[window.location.pathname.split("").length-1])
		let res = await fetch(`https://fakestoreapi.in/api/products/${id}`)
		res = await res.json()
		//return the article
		return res
	}	

	// generate the product info in the web page
	const genArticles = async(auth)=>{
		let article = await getProducts()
		article = article.product
		console.log(article)
		const container = document.querySelector(".container")
		const item = document.createElement("div")
		item.innerHTML = `
			<h5 class="item-title">${article.title}</h5>
			<div class="image-container">
				<img class="item-image" src="${article.image}">
				<span>Model: ${article.model}</span>
				<span>Brand: ${article.brand}</span>
			</div>
			<p>Description: ${article.description}</p>
			<div class="item-info">
				<p>Category: ${article.category}</p>
				<p>Price $${article.price}</p>
			</div>
		`
		if(auth){
				const addToCart = document.createElement("button")
				addToCart.textContent = "Add to cart"
				item.appendChild(addToCart)
			}
		container.appendChild(item)
		//logout btn
		if(auth){
			document.querySelector(".header-container").innerHTML = `
					<button id="main">Back</button>
					<button id="logout">Logout</button>
					<button id="profile">Profile</button>
				`
			const logoutBtn =  document.querySelector("#logout")
			logoutBtn.addEventListener("click",async()=>{
				await fetch(`http://localhost:3000/logout`,{
					method: "GET",
					credentials: "include"
				})

				window.location.href = "/"
			})
		}
	}
	getCookie()
</script>

<style is:inline>
	.container{
		display: flex;
		flex-direction: column;
		gap: 1em;
		margin: 1em;
	}
	
	.item-container{
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-items: center;
		align-items: center;
	}

	.item-container > h4{
		font-family: Arial, Helvetica, sans-serif;
	}
	
	.image-container{
		width: 6em;
	}

	.item-image{
		max-width: 100%;
		width: auto;
	}
	.item-info{
		display: flex;
		flex-direction: row;
		gap: 1em;
	}
</style>